In [1]:
import pandas as pd
import altair as alt

/Users/mahiradayal/.pyenv/versions/3.8.2/lib/python3.8/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
col_list = ["NAMEFULL", "SIMS_LATITUDE", "SIMS_LONGITUDE", "CNTYNAMB", "STALP", "ZIP", "ASSET"]

banks = pd.read_csv("/Users/mahiradayal/masters_project/2020_BANK_CLOSURES/ALL_2020 copy.csv", encoding="ISO-8859-1", usecols=col_list)
full = pd.read_csv("/Users/mahiradayal/masters_project/2020_BANK_CLOSURES/ALL_2020 copy.csv", encoding="ISO-8859-1")

In [3]:
pd.set_option('display.max_columns', None)
banks = banks.rename(columns={"NAMEFULL": "UNIT", "SIMS_LATITUDE": "lat", "SIMS_LONGITUDE": "lon"})
banks.head()

,UNIT,CNTYNAMB,lat,lon,STALP,ZIP,ASSET
0,State Street Bank and Trust Company,Suffolk,42.352692,-71.057967,MA,2111,"276,808,000"
1,State Street Bank and Trust Company,Mercer,40.346826,-74.593563,MA,2111,"276,808,000"
2,State Street Bank and Trust Company,Jackson,39.104145,-94.590905,MA,2111,"276,808,000"
3,Auburnbank,Lee,32.607143,-85.479847,AL,36830,"943,110"
4,Auburnbank,Chambers,32.815442,-85.179000,AL,36830,"943,110"

In [4]:
full.head()

,YEAR,CERT,BRNUM,UNINUMBR,NAMEFULL,ADDRESBR,CITYBR,CNTYNAMB,STALPBR,ZIPBR,BRCENM,CONSOLD,BRSERTYP,DEPSUMBR,BKMO,CBSA_DIV_NAMB,CITY2BR,CNTRYNAB,CNTYNUMB,CSABR,CSANAMBR,DIVISIONB,MSABR,MSANAMB,METROBR,MICROBR,NAMEBR,NECTABR,NECNAMB,PLACENUM,SIMS_ACQUIRED_DATE,SIMS_ESTABLISHED_DATE,SIMS_LATITUDE,SIMS_LONGITUDE,SIMS_DESCRIPTION,SIMS_PROJECTION,STCNTYBR,STNAMEBR,STNUMBR,HCTMULT,RSSDHCR,NAMEHCR,CITYHCR,STALPHCR,RSSDID,UNIT,ADDRESS,CITY,STALP,ZIP,ASSET,BKCLASS,CALL,CHARTER,CHRTAGNN,CHRTAGNT,CLCODE,CNTRYNA,DENOVO,DEPDOM,DEPSUM,DOCKET,ESCROW,FDICDBS,FDICNAME,FED,FEDNAME,INSAGNT1,INSURED,INSBRDD,INSBRTS,OCCDIST,OCCNAME,REGAGNT,SPECGRP,SPECDESC,STCNTY,STNAME,USA
0,2020,14,0,6,State Street Bank and Trust Company,1 Lincoln St. Fl 1,Boston,Suffolk,MA,2111,M,NaN,11,"136,019,000",1,"Boston, MA",Boston,United States,25,148,"Boston-Worcester-Providence, MA-RI-NH-CT",14454,14460,"Boston-Cambridge-Newton, MA-NH",1,0,State Street Bank And Trust Company,0,NaN,0,NaN,01/01/1792,42.352692,-71.057967,M,100,25025,Massachusetts,25,MULT,1111435,STATE STREET CORPORATION,BOSTON,MA,35301,0.0,1 Lincoln St. Fl 1,Boston,MA,2111,"276,808,000",SM,CALL,STATE,State Agency,STATE,13,United States,0.0,"136,019,000","136,019,000",14278.0,NaN,2,New York,1,Boston,DIF,CB,NaN,NaN,1.0,Northeast District,FED,1,INTERNATIONAL,25025,Massachusetts,1
1,2020,14,29,614737,State Street Bank and Trust Company,600 College Road East,Princeton,Mercer,NJ,8540,N,NaN,11,0,0,NaN,Princeton,United States,21,408,"New York-Newark, NY-NJ-CT-PA",0,45940,"Trenton-Princeton, NJ",1,0,Princeton Branch,0,NaN,0,NaN,05/15/2009,40.346826,-74.593563,POINTADDRESS,100,34021,New Jersey,34,MULT,1111435,STATE STREET CORPORATION,BOSTON,MA,35301,0.0,1 Lincoln St. Fl 1,Boston,MA,2111,"276,808,000",SM,CALL,STATE,State Agency,STATE,13,United States,0.0,"136,019,000",0,14278.0,NaN,2,New York,1,Boston,DIF,CB,NaN,NaN,1.0,Northeast District,FED,1,INTERNATIONAL,25025,Massachusetts,1
2,2020,14,30,614738,State Street Bank and Trust Company,801 Pennsylvania Avenue,Kansas City,Jackson,MO,64105,N,NaN,11,0,0,NaN,Kansas City,United States,95,312,"Kansas City-Overland Park-Kansas City, MO-KS",0,28140,"Kansas City, MO-KS",1,0,Kansas City Branch,0,NaN,0,NaN,11/01/2000,39.104145,-94.590905,POINTADDRESS,100,29095,Missouri,29,MULT,1111435,STATE STREET CORPORATION,BOSTON,MA,35301,0.0,1 Lincoln St. Fl 1,Boston,MA,2111,"276,808,000",SM,CALL,STATE,State Agency,STATE,13,United States,0.0,"136,019,000",0,14278.0,NaN,2,New York,1,Boston,DIF,CB,NaN,NaN,1.0,Northeast District,FED,1,INTERNATIONAL,25025,Massachusetts,1
3,2020,35,0,17,Auburnbank,100 North Gay Street,Auburn,Lee,AL,36830,M,NaN,11,"469,362",1,NaN,Auburn,United States,81,194,"Columbus-Auburn-Opelika, GA-AL",0,12220,"Auburn-Opelika, AL",1,0,Auburnbank,0,NaN,0,NaN,01/03/1907,32.607143,-85.479847,POINTADDRESS,100,1081,Alabama,1,ONE,1129533,"AUBURN NATIONAL BANCORPORATION, INC.",AUBURN,AL,749635,0.0,100 North Gay Street,Auburn,AL,36830,"943,110",SM,CALL,STATE,State Agency,STATE,13,United States,0.0,"833,867","833,867",9177.0,NaN,5,Atlanta,6,Atlanta,DIF,CB,NaN,NaN,5.0,Southwest District,FED,4,COMMERCIAL LENDING,1081,Alabama,1
4,2020,35,13,531906,Auburnbank,132 Fob James Drive,Valley,Chambers,AL,36854,NaN,NaN,11,"47,825",0,NaN,Valley,United States,17,122,"Atlanta--Athens-Clarke County--Sandy Springs, ...",0,0,NaN,0,1,Valley Branch,0,NaN,0,NaN,12/12/2011,32.815442,-85.179000,M,100,1017,Alabama,1,ONE,1129533,"AUBURN NATIONAL BANCORPORATION, INC.",AUBURN,AL,749635,0.0,100 North Gay Street,Auburn,AL,36830,"943,110",SM,CALL,STATE,State Agency,STATE,13,United States,0.0,"833,867",0,9177.0,NaN,5,Atlanta,6,Atlanta,DIF,CB,NaN,NaN,5.0,Southwest District,FED,4,COMMERCIAL LENDING,1081,Alabama,1

In [5]:
louisiana = banks[banks.STALP == "LA"]
caddo = louisiana[louisiana.CNTYNAMB == "Caddo"]

In [6]:
caddo.head(20)
#caddo.to_csv('caddo_bank_coord.csv')
louisiana.to_csv('caddo_bank_coord.csv')

In [7]:
california = banks[banks.STALP == "CA"]
imperial = california[california.CNTYNAMB == "Imperial"]

In [8]:
imperial.head(20)
#imperial.to_csv('imperial_bank_coord.csv')
#california.to_csv('california_bank_coord.csv')

,UNIT,CNTYNAMB,lat,lon,STALP,ZIP,ASSET
9325,Mechanics Bank,Imperial,32.792827,-115.571433,CA,94596,"18,869,983"
9341,Mechanics Bank,Imperial,32.978540,-115.539656,CA,94596,"18,869,983"
9351,Mechanics Bank,Imperial,32.755892,-115.602258,CA,94596,"18,869,983"
9360,Mechanics Bank,Imperial,33.007128,-115.430620,CA,94596,"18,869,983"
9402,Mechanics Bank,Imperial,32.811082,-115.380110,CA,94596,"18,869,983"
65764,"Mufg Union Bank, National Association",Imperial,32.978594,-115.537449,CA,94104,"136,271,523"
65855,"Mufg Union Bank, National Association",Imperial,32.792850,-115.553516,CA,94104,"136,271,523"
83499,Community Valley Bank,Imperial,32.792793,-115.568779,CA,92244,"246,473"
83501,Community Valley Bank,Imperial,32.978597,-115.536878,CA,92244,"246,473"
83851,First Foundation Bank,Imperial,32.792783,-115.573795,CA,92612,"7,124,859"

In [9]:
arizona = banks[banks.STALP == "AZ"]
apache = arizona[arizona.CNTYNAMB == "Apache"]

In [10]:
apache.shape
# Won't have any values because the Native American bureau holds data, state does not own, and they did not respond.

(0, 7)

In [11]:
delaware = banks[banks.STALP == "DE"]
new_castle = delaware[delaware.CNTYNAMB == "New Castle"]

In [12]:
new_castle.head(20)
#new_castle.to_csv('new_castle_bank_coord.csv')

,UNIT,CNTYNAMB,lat,lon,STALP,ZIP,ASSET
27390,Discover Bank,New Castle,39.687725,-75.608480,DE,19950,"112,234,107"
28054,"PNC Bank, National Association",New Castle,39.678783,-75.589335,DE,19899,"455,305,894"
28085,"PNC Bank, National Association",New Castle,39.633274,-75.656952,DE,19899,"455,305,894"
28130,"PNC Bank, National Association",New Castle,39.754875,-75.569165,DE,19899,"455,305,894"
28645,"PNC Bank, National Association",New Castle,39.682494,-75.754800,DE,19899,"455,305,894"
28654,"PNC Bank, National Association",New Castle,39.800671,-75.505189,DE,19899,"455,305,894"
28815,"PNC Bank, National Association",New Castle,39.454208,-75.688482,DE,19899,"455,305,894"
28823,"PNC Bank, National Association",New Castle,39.684566,-75.743454,DE,19899,"455,305,894"
28916,"PNC Bank, National Association",New Castle,39.738115,-75.611987,DE,19899,"455,305,894"
28929,"PNC Bank, National Association",New Castle,39.746583,-75.549928,DE,19899,"455,305,894"
28930,"PNC Bank, National Association",New Castle,39.746397,-75.549791,DE,19899,"455,305,894"
29041,"PNC Bank, National Association",New Castle,39.661184,-75.736926,DE,19899,"455,305,894"
29045,"PNC Bank, National Association",New Castle,39.607934,-75.709736,DE,19899,"455,305,894"
29185,"PNC Bank, National Association",New Castle,39.747027,-75.550500,DE,19899,"455,305,894"
29186,"PNC Bank, National Association",New Castle,39.747027,-75.550500,DE,19899,"455,305,894"
29187,"PNC Bank, National Association",New Castle,39.746723,-75.550147,DE,19899,"455,305,894"
29427,"PNC Bank, National Association",New Castle,39.776074,-75.596054,DE,19899,"455,305,894"
29522,"PNC Bank, National Association",New Castle,39.810447,-75.549442,DE,19899,"455,305,894"
29564,"PNC Bank, National Association",New Castle,39.814398,-75.549522,DE,19899,"455,305,894"
29619,"PNC Bank, National Association",New Castle,39.449367,-75.724247,DE,19899,"455,305,894"